<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LocalFolder" value="d:\drop"/>
		<add key="AWSProfileName" value="DropBox"/>
		<add key="AWSBucketName" value="YourS3BucketName"/>
		<add key="AWSAccessKey" value="YourIAMAccessKey"/>
		<add key="AWSSecretKey" value="YourIAMSecretKey"/>
	</appSettings>
</configuration>